@using AydosRobotics_WEB.Models
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<!-- About-->
<div id="about" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container text-center">
                    <h2>@Localizer["AboutUs"]</h2>
                    <p>@Localizer["WhoWeAre"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Of About -->